
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - Cartify - <a asp-area="" asp-controller="Home" asp-action="ContactUs">İletişim</a>
    </div>
</footer>